# üß© Reto 1 ‚Äì Temperatura
**Objetivo:** clasificar la temperatura del agua y evaluar posible estr√©s t√©rmico.

**Datos:** `../data/muestras_calidad_agua.csv`

### Pasos
1. Carga el CSV en `df`.
2. Extrae `sitio` y `temperatura` en `df_temp`.
3. Crea `categoria_temp` con np.where o .loc.
4. Crea `riesgo_termico`.
5. Filtra a `df_caliente` (alta temperatura).
6. Exporta `resultado_temperatura.csv`.

> **Reto adicional:** porcentaje de sitios con riesgo t√©rmico.

In [1]:
# Escribe tu c√≥digo aqu√≠
import pandas as pd
#paso 1: cargar el archivo base de calidad de agua 
df = pd.read_csv("../data/muestras_calidad_agua.csv")
print("Vista previa del archivo cargado")
display(df.head())

Vista previa del archivo cargado

                          sitio   pH  oxigeno  temperatura
0                R√≠o Subachoque  7.2      7.8         18.5
1   Quebrada Honda (Facatativ√°)  6.3      6.2         19.4
2          R√≠o Botello (Madrid)  6.8      5.9         22.7
3  Afluente San Jos√© (El Rosal)  7.9      8.3         20.1
4                   R√≠o Villeta  8.7      6.1         28.3

In [2]:
#paso2: extraer solo las columnas necesarias 
df_temp = df[["sitio", "temperatura"]].copy()
print ("Datos seleccionados de temperatura") 
display(df_temp)

Datos seleccionados de temperatura

                           sitio  temperatura
0                 R√≠o Subachoque         18.5
1    Quebrada Honda (Facatativ√°)         19.4
2           R√≠o Botello (Madrid)         22.7
3   Afluente San Jos√© (El Rosal)         20.1
4                    R√≠o Villeta         28.3
5  Quebrada Cune (San Francisco)         25.2
6            R√≠o Tobia (Nocaima)         26.9
7       Quebrada Negra (La Vega)         24.4
8          R√≠o Baham√≥n (Sasaima)         27.6
9        R√≠o Guayuriba (La Mesa)         30.5

In [3]:
#paso 3: clasificar cada sitio segun su tempperatura 
def clasificar_temp(temp):
    if temp < 22:
        return ("baja")
    elif 22 <= temp <= 26:
        return ("media")
    else:
        return ("alta")
df_temp["categoria_temp"]= df_temp["temperatura"].apply(clasificar_temp)
print("clasificacion termica por sitio")
display(df_temp)

clasificacion termica por sitio

                           sitio  temperatura categoria_temp
0                 R√≠o Subachoque         18.5           baja
1    Quebrada Honda (Facatativ√°)         19.4           baja
2           R√≠o Botello (Madrid)         22.7          media
3   Afluente San Jos√© (El Rosal)         20.1           baja
4                    R√≠o Villeta         28.3           alta
5  Quebrada Cune (San Francisco)         25.2          media
6            R√≠o Tobia (Nocaima)         26.9           alta
7       Quebrada Negra (La Vega)         24.4          media
8          R√≠o Baham√≥n (Sasaima)         27.6           alta
9        R√≠o Guayuriba (La Mesa)         30.5           alta

In [4]:
#paso 4: evaluar riesgo termico segun la temperatura
def riesgo_termico(categoria):
    if categoria == "alta":
        return "S√≠"
    else:
        return "No"

df_temp["riesgo_termico"] = df_temp["categoria_temp"].apply(riesgo_termico)

print("Columna de riesgo t√©rmico agregada correctamente:")
print(df_temp)

Columna de riesgo t√©rmico agregada correctamente:
                           sitio  temperatura categoria_temp riesgo_termico
0                 R√≠o Subachoque         18.5           baja             No
1    Quebrada Honda (Facatativ√°)         19.4           baja             No
2           R√≠o Botello (Madrid)         22.7          media             No
3   Afluente San Jos√© (El Rosal)         20.1           baja             No
4                    R√≠o Villeta         28.3           alta             S√≠
5  Quebrada Cune (San Francisco)         25.2          media             No
6            R√≠o Tobia (Nocaima)         26.9           alta             S√≠
7       Quebrada Negra (La Vega)         24.4          media             No
8          R√≠o Baham√≥n (Sasaima)         27.6           alta             S√≠
9        R√≠o Guayuriba (La Mesa)         30.5           alta             S√≠

In [5]:
df_caliente = df_temp[df_temp["categoria_temp"] == "alta"]
print("Sitios con alta temperatura (riesgo t√©rmico):")
print(df_caliente)

Sitios con alta temperatura (riesgo t√©rmico):
                     sitio  temperatura categoria_temp riesgo_termico
4              R√≠o Villeta         28.3           alta             S√≠
6      R√≠o Tobia (Nocaima)         26.9           alta             S√≠
8    R√≠o Baham√≥n (Sasaima)         27.6           alta             S√≠
9  R√≠o Guayuriba (La Mesa)         30.5           alta             S√≠

In [6]:
df_temp.to_csv("resultado_temperatura.csv")
df_caliente.to_csv("resultado_caliente.csv")

print("Archivos exportados:")
print("- resultado_temperatura.csv")
print("- resultado_caliente.csv")

Archivos exportados:
- resultado_temperatura.csv
- resultado_caliente.csv

In [7]:
total = len (df_temp)
riesgo_si = len (df_temp[df_temp["riesgo_termico"] == "S√≠"])
porcentaje_riesgo = (riesgo_si / total) * 100

print("Resumen del riesgo t√©rmico:")
print("Total de sitios evaluados:", total)
print("Sitios con riesgo t√©rmico:", riesgo_si)
print("Porcentaje de riesgo t√©rmico:",(porcentaje_riesgo), "%")

Resumen del riesgo t√©rmico:
Total de sitios evaluados: 10
Sitios con riesgo t√©rmico: 4
Porcentaje de riesgo t√©rmico: 40.0 %